<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/content/site.css"/>
</head>
<body>
<div class="container body-content">
    <div class="row">
        @RenderBody()
    </div>
</div>


</body>
</html>